[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
web3 = "*"
py-solc = "*"
paho-mqtt = "*"
py-solc-x = "*"

[requires]
python_version = "3.8"
