.filter-wrapper{
  border: 2px solid black;
  min-width: 20em;
  margin: 0 0.5em;
  padding: 0.75em;
}

.filter-section + .filter-section{
  margin-top: 1.5em;
}

.apply-filter-wrapper{
  padding-bottom: 1em;
}

.apply-filter-button {
  background-color: #5a96bf; 
  border: none;
  color: white;
  cursor: pointer;
  padding: 0.5em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
